<a href="https://colab.research.google.com/github/bozhikov/SHE/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
path='/content/randomdata_250222 (1).xlsx'
coloumn=['draft1', 'dradf2']

In [40]:
import pandas as pd
abv=pd.read_excel(path,sheet_name=1,header=None,usecols=[2,3],names=coloumn)
abv

      draft1     dradf2
0  33.140011  32.323887
1  32.439330  31.761147
2  32.370778  33.122488
3  32.505445  32.256014
4  32.786262  34.026080
5  32.966322  33.356744
6  32.321941  32.636339
7  32.637722  31.775159
8  31.941075  32.234262
9  32.845885  32.854395

In [43]:
s=abv['draft1']
s[3]

32.5054445228847

# Новый раздел

In [ ]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
data_table.enable_dataframe_formatter()

data

Warning: Total number of columns (22) exceeds max_columns (20). Falling back to pandas display.

,0,0.1,0.2,0.3,0.4,174.27111984282908,2645.752455795676,2677.43811394891,2614.0667976424284,2693.2809430255675,...,2693.280943025502,2661.595284872252,2582.381139489149,2629.9096267190107,2661.595284872252.1,2709.1237721021134,237.6424361493082,0.5,0.6,0.7
0,0.000000,0.000000,0.000000,0.000000,0.000000,63.371316,2629.909627,2661.595285,2629.909627,2566.538310,...,2629.909627,2614.066798,2598.223969,2550.695481,2629.909627,2661.595285,871.355599,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2724.966601,2693.280943,2709.123772,2772.495088,...,2756.652259,2598.223969,2614.066798,2756.652259,2677.438114,2566.538310,0.000000,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2629.909627,2661.595285,2709.123772,2645.752456,...,2724.966601,2645.752456,2740.809430,2677.438114,2661.595285,2756.652259,47.528487,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,15.842829,2645.752456,2661.595285,2550.695481,2677.438114,...,2629.909627,2582.381139,2740.809430,2661.595285,2629.909627,2598.223969,570.341847,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,63.371316,2772.495088,2566.538310,2534.852652,2645.752456,...,2645.752456,2645.752456,2598.223969,2566.538310,2724.966601,2661.595285,491.127701,0.0,0.0,0.0
5,0.000000,0.000000,0.000000,0.000000,0.000000,142.585462,2677.438114,2629.909627,2629.909627,2629.909627,...,2614.066798,2661.595285,2645.752456,2693.280943,2693.280943,2709.123772,190.113949,0.0,0.0,0.0
6,0.000000,0.000000,0.000000,0.000000,0.000000,31.685658,2629.909627,2566.538310,2661.595285,2629.909627,...,2614.066798,2629.909627,2566.538310,2645.752456,2677.438114,2629.909627,807.984283,0.0,0.0,0.0
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2629.909627,2677.438114,2661.595285,2693.280943,...,2677.438114,2645.752456,2582.381139,2629.909627,2661.595285,2598.223969,396.070727,0.0,0.0,0.0
8,0.000000,0.000000,0.000000,0.000000,0.000000,110.899804,2519.009823,2629.909627,2661.595285,2693.280943,...,2693.280943,2661.595285,2645.752456,2645.752456,2645.752456,2661.595285,364.385069,0.0,0.0,0.0
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,174.271120,63.371316,0.000000,0.000000,15.842829,63.371316,142.585462,31.685658,0.000000,110.899804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2645.752456,2629.909627,2724.966601,2629.909627,2645.752456,2772.495088,2677.438114,2629.909627,2629.909627,2519.009823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2677.438114,2661.595285,2693.280943,2661.595285,2661.595285,2566.538310,2629.909627,2566.538310,2677.438114,2629.909627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2614.066798,2629.909627,2709.123772,2709.123772,2550.695481,2534.852652,2629.909627,2661.595285,2661.595285,2661.595285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2693.280943,2566.538310,2772.495088,2645.752456,2677.438114,2645.752456,2629.909627,2629.909627,2693.280943,2693.280943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2550.695481,2503.166994,2709.123772,2645.752456,2693.280943,2693.280943,2709.123772,2582.381139,2724.966601,2724.966601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2724.966601,2645.752456,2677.438114,2709.123772,2598.223969,2645.752456,2629.909627,2582.381139,2677.438114,2598.223969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2693.280943,2629.909627,2756.652259,2724.966601,2629.909627,2645.752456,2614.066798,2614.066798,2677.438114,2693.280943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2661.595285,2614.066798,2598.223969,2645.752456,2582.381139,2645.752456,2661.595285,2629.909627,2645.752456,2661.595285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2582.381139,2598.223969,2614.066798,2740.809430,2740.809430,2598.223969,2645.752456,2566.538310,2582.381139,2645.752456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2629.909627,2550.695481,2756.652259,2677.438114,2661.595285,2566.538310,2693.280943,2645.752456,2629.909627,2645.752456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2661.595285,2629.909627,2677.438114,2661.595285,2629.909627,2724.966601,2693.280943,2677.438114,2661.595285,2645.752456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2709.123772,2661.595285,2566.538310,2756.652259,2598.223969,2661.595285,2709.123772,2629.909627,2598.223969,2661.595285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,237.642436,871.355599,0.000000,47.528487,570.341847,491.127701,190.113949,807.984283,396.070727,364.385069,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Новый раздел

In [ ]:
path='/randomdata_250222 (1).xlsx'

In [ ]:
data1=pd.read_excel(path,sheet_name=1,usecols=[7,8])

In [ ]:
print(data1)

   34.482384  33.140733  33.140011  32.323887  32.023198  33.368251  \
0  32.542978  33.160010  32.439330  31.761147  33.801132  33.304248
1  32.795069  31.945372  32.370778  33.122488  32.354443  32.963448
2  32.673130  32.612449  32.505445  32.256014  32.821697  32.492202
3  33.117446  32.515436  32.786262  34.026080  31.566236  32.452334
4  33.086105  32.091760  32.966322  33.356744  31.975881  33.582099
5  32.782067  33.334094  32.321941  32.636339  32.878964  34.109519
6  34.078097  32.117584  32.637722  31.775159  33.448407  32.873780
7  32.574171  32.561304  31.941075  32.234262  33.247773  32.787261
8  33.052918  32.875247  32.845885  32.854395  33.454851  32.802123

   32.733751  33.275458  32.327856  33.433411  ...  33.401760  32.930499  \
0  32.533154  32.932568  32.712923  31.924491  ...  32.564022  32.490947
1  34.125859  33.368971  33.523915  34.370611  ...  34.108799  32.281020
2  33.782787  33.010737  33.513681  32.770508  ...  33.799862  32.881082
3  32.739166  32.954896  31.718317  33.198603  ...  32.694056  32.083331
4  34.437881  31.862933  31.537345  32.813537  ...  32.758577  32.864159
5  33.153775  32.604440  32.715754  32.680619  ...  32.353305  33.013996
6  32.668422  31.758550  32.977396  32.693771  ...  32.372329  32.699808
7  33.349319  33.288734  33.100502  33.350658  ...  33.132623  32.832524
8  31.169667  32.548864  32.985421  33.474222  ...  33.346956  33.012269

   32.116895  32.605577  33.022748  33.632985  32.198533  33.688894  \
0  32.318580  31.696969  32.526092  32.963319  32.180441  33.148316
1  32.423423  34.151707  33.150780  32.833053  33.153227  32.690948
2  33.943186  33.164466  33.095859  34.262880  33.842838  33.440647
3  33.899712  33.099048  32.699429  32.267708  32.923143  33.937939
4  32.178651  31.807894  33.872192  33.047273  32.099931  33.548600
5  32.799427  33.367670  33.474041  33.555746  33.274188  33.264832
6  31.804792  32.743526  33.254040  32.618928  32.413257  33.054638
7  32.064952  32.536831  33.068545  32.148689  33.159638  33.066472
8  32.726641  32.875833  32.842022  32.949830  33.012055  32.430209

   34.631599  0.000000
0  32.685409          0
1   0.000000          0
2   0.000000          0
3  33.036166          0
4  32.029682          0
5   0.000000          0
6  33.564691          0
7  32.924014          0
8  32.191200          0

[9 rows x 22 columns]